/*
RMIT University Vietnam
  Course: COSC2430 Web Programming
  Semester: 2023A
  Assessment: Assignment 1
  Author: Nguyen Ich Kiet
  ID: s3978724
  Acknowledgement:
*/

.footer a:hover{
    text-decoration: underline !important;
}