@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=DynaPuff:wght@400;500;600&family=Literata:wght@200;300;400;500&family=Nova+Oval&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,800;1,300;1,400&family=Orbitron:wght@500;600;700&family=Pacifico&family=Roboto+Slab:wght@200;400;500;600&display=swap');
@import url(footer-fix.css);

body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #fff2df;
    overflow-y: overlay;
    z-index: -5;
}

img{
    max-width: 100%;
    max-height: 100%;
    color: white !important;
    font: 15px 'Times New Roman', Times, serif !important;
}

::-webkit-scrollbar{
    position: absolute;
    width: 15px;
}

::-webkit-scrollbar-track{
    border-radius: 10px;
    margin-top: 75px;
    margin-bottom: 105px;
    background-color: #cca365;
}

::-webkit-scrollbar-thumb{
    background: #634215; 
    border-radius: 10px;
    outline: 2px solid #352102;
}
 
::-webkit-scrollbar-thumb:hover{
    background: #312008;
}

a:link{
    text-decoration: none !important;
}

/*----------HEADER----------*/
.header{
    position: fixed;
    top: 0;
    margin: 0 0;
    width: 100%;
    height: 70px;
    background-color: #966d30;
    display: flex;
    align-items: center;
    z-index: 99;
    box-shadow: 0px 0px 5px 1px #c49857;
}

/*mobile menu*/
.mobile-menu{
    display: none;
    margin-left: 10px;
    height: 100%;
    padding: 0 10px;
    align-items: center;
    cursor: pointer;
}

.menu-icon{
    height: 50px;
    width: 50px;
    font-size: 40px;
    font-weight: 800;
    background-color: #ffcb7c;
    box-shadow: 0 0 5px 1px #edc993;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-box{
    display: flex;
    position: absolute;
    width: 200px;
    top: 70px;
    left: -250px;
    font-size: 17px;
    font-weight: 500;
    flex-direction: column;
    transition: 0.5s;
}

.menu-item{
    color: rgb(0, 0, 0);
    padding: 20px 20px; 
    box-shadow: 1px 1px 0px 1px #eecb95;
    transition: 0.3s ease-out;
    transition-property: background;
}

.menu-item:nth-child(odd){
    background-color: #d09d50;
}

.menu-item:nth-child(even){
    background-color: #e3b167;
}

.menu-item:hover{
    font-weight: 800;
    background-color: #f1c88a;
    z-index: 1;
    outline: 3px solid #876430;
    box-shadow: 0 0 5px 3px #c39a5b;
    cursor: pointer;
}

.mobile-menu:hover>.menu-icon{
    opacity: 0.5;
}

.mobile-menu:hover+.menu-box,
.menu-box:hover{
    left: 0;
}

/*logo*/
.logo{
    position: relative;
    min-width: 180px;
    height: 45px;
    margin-left: 1%;
    margin-right: 10px;
    padding: 3px;
    text-decoration: none;
    background-color: #ffcb7c;
    box-shadow: 0 0 5px 1px #edc993;
    display: flex;
    align-items: center;
}

.logo .brand{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    font-weight: 800;
    padding-right: 10px;
}

.logo img{
    height: 40px;
    width: 50px;
}

.logo h1{
    margin-bottom: 0px;
    font-size: 25px;
    letter-spacing: 1px;
    background: -webkit-linear-gradient(45deg, #8d5a0e, #4d3615);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo h2{
    margin-top: -10px;
    color: #621577;
    font-size: 20px;
    letter-spacing: 2px;
}

/*navigation bar*/
.nav-bar{
    margin-left: 10px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.nav-item{
    height: 100%;
    width: 60px;
    padding: 0 40px;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    text-shadow: 2px 2px 2px #573d19;
    white-space: nowrap;
    transition: 0.2s;
    outline: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item:hover{
    background-color: #bf985d;
}

.nav-item:active{
    background-color: #e8b66d;
    box-shadow: 0 0 5px 3px #e8b66d;
}

/*search bar*/
form.search-bar{
    position: relative;
    height: 40px;
    flex-grow: 1;
    margin-left: 40px;
    margin-right: 20px;
    border-radius: 7px;
}

.search-bar input{
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    padding-left: 5px;
    border-radius: 7px;
    border: 3px solid #5e4828;
    background: #ebd3ae;
    transition: 0.2s ease-out;
}

.search-bar input::placeholder{
    color: #967441;
    opacity: 0.5;
}

.search-bar input:hover,
.search-bar input:focus{
    outline: none;
    box-shadow: 0px 0px 10px 3px #ffdba4;
}

input#display-search{
    display: none;
}

.search-button{
    display: none;
}

/*----------BODY----------*/

/*side navigaation bar*/
.side-nav-bar{
    position: fixed;
    top: 15%;
    width: 230px;
    left: -240px;
    display: flex;
    flex-direction: column;
    z-index: 5;
    border: 3.5px solid #007470;
    border-left: none;
    transition: 0.5s;
}

.side-nav-bar .title{
    height: 70px;
    font-size: 18px;
    font-weight: 800;
    padding-left: 50px;
    background-color: #00fff7;
    display: flex;
    align-items: center;
}

.side-nav-bar .button{
    position: absolute;
    top: -3px;
    left: 230px;
    height: 70px;
    width: 75px;
    border-radius: 0 50% 50% 0;
    background-color: #00fff7;
    border: 3.5px solid #007470;
    border-left: none;
    display: flex;
    align-items: center;
    z-index: -1;
}

.side-nav-bar .button img{
    position: relative;
    height: 40px;
    width: 40px;
    left: 17px;
}

.side-nav-bar:has(> .side-nav-button:hover){
    left: 0px;
}

.side-nav-bar:hover{
    left: 0;
}

.main-cat{
    color: #000000;
    outline-color: #12ddd6;
    height: 60px;
    padding: 0px 30px;
    display: flex;
    align-items: center;
    z-index: 9;
    cursor: pointer;
}

.main-cat:hover{
    text-decoration: underline;
    font-weight: 600;
}

.main-cat::after{
    position: absolute;
    right: 30px;
    content: '\25ba';
    font-size: 13px;
    transition: 0.5s;
}

.main-cat:hover::after{
    right: 10px;
    transform: rotate(90deg);
}

.side-nav-bar .main-box:nth-of-type(odd) .main-cat{
    background-color: #00fff7;
}

.side-nav-bar .main-box:nth-of-type(odd) .main-cat:hover{
    background-color: #00beb8;
}

.side-nav-bar .main-box:nth-of-type(even) .main-cat{
    background-color: #93fffb;
}

.side-nav-bar .main-box:nth-of-type(even) .main-cat:hover{
    background-color: #74cac7;
}

.main-box:has(> .sub-cat-box:hover){
    text-decoration: underline;
    font-weight: 600;
}

.sub-cat-box{
    display: none;
    flex-direction: column;
    position: absolute;
    margin-top: -60px;
    left: 230px;
    font-weight: 300;
    z-index: -1;
    outline: 3.5px solid #007470;
}

.sub-cat-box a{
    color: #000000;
    padding: 0px 10px;
    height: 60px;
    width: 220px;    
    transition: 0.3s ease-out;
    transition-property: background;
    background-color: #d3fffe;
    display: flex;
    align-items: center;
}

.sub-cat-box a:hover{
    font-weight: 500;
    background-color: #ffffff;
    z-index: 1;
    outline: 3px solid #007470;
    box-shadow: 0 0 10px 2px #003a38;
    cursor: pointer;
}

.main-cat:hover+.sub-cat-box,
.sub-cat-box:hover{
    display: flex;
}

/*main contents*/
section{
    margin-top: 20px;
    height: 640px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section#best-seller{
    margin-top: 70px;
}

#best-seller h3{
    text-align: center;
    font-size: 40px;
    color: #4a3412;
    font-weight: 500;
    letter-spacing: 5px;
    text-shadow: 2px 2px 5px #93713e;
}

/*best-seller slide*/

.slider{
    width: 100%;
    height: 100%;
    perspective: 1200px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    background-color: #ffd699;
}

.slider input[type=radio]{
    position: relative;
    top: 410px;
    width: 18px;
    height: 18px;
    opacity: 0.4;
    cursor: pointer;
}
  
input[type=radio]:checked{
    opacity: 1;
}

.slider label{
    position: absolute;
    top: 85px;
    width: 180px;
    height: 250px;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 400ms ease;
}

.slider label img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

@media screen and (min-width: 1281px){
#s1:checked ~ #slide1,
 #s2:checked ~ #slide2,
  #s3:checked ~ #slide3,
   #s4:checked ~ #slide4,
    #s5:checked ~ #slide5,
     #s6:checked ~ #slide6,
      #s7:checked ~ #slide7{
    box-shadow: 0 5px 15px #3b3b3b, 0 2px 5px #000000;
    transform: translate3d(0, 0, 250px);
}

#s1:checked ~ #slide2,
 #s2:checked ~ #slide3,
  #s3:checked ~ #slide4,
   #s4:checked ~ #slide5,
    #s5:checked ~ #slide6,
     #s6:checked ~ #slide7,
      #s7:checked ~ #slide1{
    box-shadow: 0 10px 15px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
    transform: translate3d(85%, 0, 175px);
}

#s1:checked ~ #slide3,
 #s2:checked ~ #slide4,
  #s3:checked ~ #slide5,
   #s4:checked ~ #slide6,
    #s5:checked ~ #slide7,
     #s6:checked ~ #slide1,
      #s7:checked ~ #slide2{
    box-shadow: 0 5px 10px rgba(0,0,0, 0.4);
    transform: translate3d(190%, 0, 75px);
}

#s1:checked ~ #slide4,
 #s2:checked ~ #slide5,
  #s3:checked ~ #slide6,
   #s4:checked ~ #slide7,
    #s5:checked ~ #slide1,
     #s6:checked ~ #slide2,
      #s7:checked ~ #slide3{
    box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
    transform: translate3d(270%, 0, 0px);
}

#s1:checked ~ #slide5,
 #s2:checked ~ #slide6,
  #s3:checked ~ #slide7,
   #s4:checked ~ #slide1,
    #s5:checked ~ #slide2,
     #s6:checked ~ #slide3,
      #s7:checked ~ #slide4{
    box-shadow: 0 1px 4px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
    transform: translate3d(-270%, 0, 0px);
}

#s1:checked ~ #slide6,
 #s2:checked ~ #slide7,
  #s3:checked ~ #slide1,
   #s4:checked ~ #slide2,
    #s5:checked ~ #slide3,
     #s6:checked ~ #slide4,
      #s7:checked ~ #slide5{
    box-shadow: 0 5px 10px rgba(0,0,0, 0.4);
    transform: translate3d(-190%, 0, 75px);
}

#s1:checked ~ #slide7,
 #s2:checked ~ #slide1,
  #s3:checked ~ #slide2,
   #s4:checked ~ #slide3,
    #s5:checked ~ #slide4,
     #s6:checked ~ #slide5,
      #s7:checked ~ #slide6{
    box-shadow: 0 10px 15px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
    transform: translate3d(-85%, 0, 175px);
}
}

/*products boards*/

.board-header{
    position: relative;
    margin: 60px 0 30px 0;
    text-decoration: none;
    height: 95px;
    width: 300px;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.board-header::before{
    content: '';
    position: absolute;
    height: 75px;
    width: 370px;
    animation: rotate 4s cubic-bezier(.1,0,.9,1) infinite;
    filter: blur(10px);
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.board-header::after{
    content: '';
    position: absolute;
    inset: 5px;
}

.header-text{
    text-align: center;
    color:#000000;
    font-size: 40px;
    z-index: 2;
}

.board{
    margin-top: 20px;
    height: 100%;
    width: 75%;
    background-color:#ffffff;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    overflow: auto;
}

.board::-webkit-scrollbar-track{
    margin: 5px;
    background-color: #cca365;
}

.book{
    margin: 40px 30px;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book .title{
    color: #ffffff;
    margin-top: 19px;
    width: 160px;
    height: 60px;
    font-size: 13px;
    line-height: 1.6;
    letter-spacing: 1px;
    text-align: center;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
}

.book img{
    height: 200px;
    width: 160px;
    min-width: 130px;
}

.book:hover > .title{
    opacity: 0.8;
    text-decoration: underline;
}

.board .browse-button{
    position: absolute;
    height: 55px;
    width: 140px;
    margin-top: 345px;
    margin-left: calc(37.5% - 70px);
    font-size: 18px;
    text-decoration: none;
    font-weight: 600;
    background-color: #ffffff;
    border: 4px outset;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board .browse-button:active{
    border: 4px inset;
}

/*text books board*/
#text-books{
    font-family: 'Literata', serif;
}

#text-books .board-header{
    background-color: #93ff7d;
}

#text-books .board-header::after{
    background-color: #d9ffd1;
}

#text-books .board-header::before{
    background: linear-gradient(0deg, #1eb500, #0f5c00);
}

#text-books .header-text{
    font-weight: 200;
    font-size: 45px;
    text-shadow: 3px 3px 0px #aeaeae;
}

#text-books .board{
    background-color: #b9ffab;
    border: 10px double #2a9714;
}

#text-books .book img{
    border: 4px solid #2acc0a;
}

#text-books .book .title{
    color: #000000;
    font-weight: 500;
    font-size: 14px;
}

#text-books .browse-button{
    color: #000000;
    font-weight: 400;
    letter-spacing: 2px;
    background: #ffffff;
    border-color: #48bd31;
}

#text-books .browse-button:hover{
    color: #666666;
    background: #ccffc0;
    box-shadow: 0 0 5px 2px #6ceb53;
}

/*fiction board*/
#fiction{
    font-family: 'Orbitron', sans-serif;
}

#fiction .header-text{
    font-weight: 500;
    font-size: 50px;
    letter-spacing: 10px;
    text-shadow:
    0.5px 0.5px 0px #9d9d9d,
    1px 1px 0px #9d9d9d,
    2px 2px 0 #9d9d9d,
    3px 3px 0px #9d9d9d,
    4px 4px 0px #9d9d9d;
}

#fiction .board-header{
    background-color: #27156e;
}

#fiction .board-header::before{
    background: linear-gradient(0deg, #00eaff, #b300ff);
}

#fiction .board-header::after{
    background: linear-gradient(45deg, #7553ff, #bbaaff);
}

#fiction .board{
    background-color: #1a0b5e;
    border: 5px solid #8468ff;
    box-shadow: 0px 0px 15px 5px #bdaeff;
}

#fiction .board::-webkit-scrollbar-track{
    background-color: #6846ff;
}

#fiction .board::-webkit-scrollbar-thumb{
    background: #3d1dcc; 
    border-radius: 10px;
    outline: none;
}
 
#fiction .board::-webkit-scrollbar-thumb:hover{
    background: #2d0fb3;
}

#fiction .book img{
    box-shadow: 0 0px 5px 2px #2c1690, 0px 3px 10px 2px #6e56dc;
}

#fiction .browse-button{
    background-color: #eae6ff;
    border-color: #9883ff;
}

#fiction .browse-button:hover{
    background-color: #e4dfff;
    box-shadow: 0 0 10px 3px #b1a1ff;
}

#fiction .browse-button:active{
    color: #1a0b5e;
}

/*non-fiction*/
#non-fiction{
    font-family: 'Nova Oval', cursive;
}

#non-fiction .header-text{
    font-size: 35px;
    letter-spacing: 2px;
}

#non-fiction .board-header{
    background-color: #ffc978;
}

#non-fiction .board-header::before{
    background: linear-gradient(0deg, #ff9900, #6f5305);
}

#non-fiction .board-header::after{
    background-color: #ffe5be;
}

#non-fiction .board{
    background-color: #ffe5be;
    border: 5px solid #d39f50;
    box-shadow: 0px 0px 15px 5px #ffc978;
}

#non-fiction .board::-webkit-scrollbar-track{
    background-color: #ffc978;
}

#non-fiction .board::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #9f6e29;
    outline: none;
}
 
#non-fiction .board::-webkit-scrollbar-thumb:hover{
    background: #7c541b;
}

#non-fiction .book img{
    box-shadow: 0 0px 4px 1px #b88e4f, 0px 5px 15px 5px #ffce84;
}

#non-fiction .book .title{
    color: #000000;
    font-size: 16px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px #a0a0a0;
}

#non-fiction .browse-button{
    color: #825512;
    background-color: #ffba53;
    border-color: #a98146;
}

#non-fiction .browse-button:hover{
    background-color: #ffab2e;
    box-shadow: 0 0 7px 3px #ffd699;
}

/*chidlren's books*/
#children{
    font-family: 'DynaPuff', cursive;
}

#children .header-text{
    font-weight: 400;
    font-size: 35px;
    letter-spacing: 5px;
}

#children .board-header{
    background-color: #d3d3d3;
    height: 160px;
    line-height: 1.1;
}

#children .board-header::before{
    background: linear-gradient(#ff0000, #ff8c00, #ffe600, #5eff00, #00ffff, #2200ff, #c800ff);
}

#children .board-header::after{
    background-color: #ffffff;
}

#children .board{
    height: 150%;
    background-color: #ffffff;
    border: 5px solid #000000;
    box-shadow: 0px 0px 15px 5px #b4b4b4;
}

#children .board::-webkit-scrollbar-track{
    background-color: #c6c6c6;
}

#children .board::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #343434;
    outline: none;
}
 
#children .board::-webkit-scrollbar-thumb:hover{
    background: #505050;
}

#children .book img{
    border-radius: 5px;
    box-shadow: 0 2px 7px 2px #949494;
}

#children .book .title{
    color: #000000;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: 'Nova Oval', cursive;
}

#children .browse-button{
    color: #000000;
    background-color: #ffffff;
    border-color: #919191;
}

#children .browse-button:hover{
    background-color: #e6e6e6;
    box-shadow: 0 0 5px 2px #e6e6e6;
}

/*reference books*/
#ref{
    font-family: 'DM Serif Display', serif;
}

#ref .header-text{
    color: #000000;
    font-weight: 500;
    font-size: 35px;
    letter-spacing: 2px;
    line-height: 1.1;
    text-shadow:
    0.25px 0.25px 0px #b6b6b6,
    0.5px 0.5px 0px #b6b6b6,
    0.75px 0.75px 0px #b6b6b6,
    1px 1px 0px #b6b6b6,
    1.25px 1.25px 0px #b6b6b6,
    1.5px 1.5px 0px #b6b6b6,
    1.75px 1.75px 0px #b6b6b6,
    2px 2px 0px #b6b6b6,
    2.25px 2.25px 0px #b6b6b6,
    2.5px 2.5px 0px #b6b6b6,
    2.75px 2.75px 0px #b6b6b6,
    3px 3px 0 #b6b6b6
    ;
}

#ref .board-header{
    background-color: #000000;
    height: 180px;
}

#ref .board-header::before{
    background: linear-gradient(#c6c6c6, #858585);
}

#ref .board-header::after{
    background-color: #ffffff;
}

#ref .board{
    height: 170%;
    background-color: #dadada;
    border: 5px solid #ffffff;
    box-shadow: 0px 0px 15px 5px #ffffff;
}

#ref .board::-webkit-scrollbar-track{
    background-color: #c6c6c6;
}

#ref .board::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #343434;
    outline: none;
}
 
#ref .board::-webkit-scrollbar-thumb:hover{
    background: #505050;
}

#ref .book img{
    border-radius: 5px;
    box-shadow: 0 2px 7px 2px #949494;
}

#ref .book .title{
    color: #000000;
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 1.2;
    width: 120%;
}

#ref .browse-button{
    color: #ffffff;
    background-color: #ff0000;
    border-color: #ff3c3c;
}

#ref .browse-button:hover{
    background-color: #ff4c4c;
}

/*video*/
.video{
    position: relative;
    margin-top: 100px;
    width: 80%;
    height: 600px;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
}

.video span{
    color: #4a3412;;
    position: relative;
    left: 30px;
    font-size: 40px;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    letter-spacing: 2px;
    text-shadow: 
    1px 0 0 #ac7c34,
    2px 0px 0px #ac7c34;
}

.video iframe{
    position: relative;
    align-self: center;
    top: 100px;
    height: 100%;
    width: 80%;
    box-shadow: 0 0 15px 3px #808080;
}

/*cart button*/
.cart-button{
    position: fixed;
    bottom: 120px;
    right: 3%;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.cart-button img{
    height: 55px;
    z-index: 1;
}

.cart-button::before{
    content: '';
    position: absolute;
    height: 87px;
    width: 87px;
    border-radius: 50%;
    background: linear-gradient(0deg, #fffb00, #ffb71c, #fffb00);
    animation: rotate 2s linear infinite;
    filter: blur(15px);
}

.cart-button::after{
    content: '';
    position: absolute;
    inset: 3px;
    border-radius: 50%;
    background: #feffda;
}

/*----------FOOTER----------*/

.footer{
    margin-top: 150px;
    height: 100px;
    width: 100%;
    background-color: #a98247;
    border-top: 4px solid #69440f;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer a{
    margin-top: -20px;
    color: #ffffff;
    font-size: 16px;
}

.footer img{
    height: 75px;
}

/*devices with screen < 1280px*/
@media screen and (max-width: 1280px){
    .nav-item{
        width: 30px;
        font-size: 14px;
    }
    
    .search-button{
        display: flex;
        position: absolute;
        height: 25px;
        width: 25px;
        right: 20px;
        top: 12px;
        padding: 7px;
        border-radius: 50%;
        cursor: pointer;
        opacity: 1;
        background-color: transparent;
        transition: 0.1s ease-out;
    }
    
    .search-button img{
        height: 90%;
        margin: -0.5px -0.5px 0 0;
    }
    
    .search-button:hover{
        box-shadow: 0px 0px 10px 3px #ffdba4;
    }
    
    form.search-bar{
        position: absolute;
        width: 20%;
        min-width: 100px;
        margin: auto;
        top: 70px;
        right: -25%;
        display: block;
        transition: 0.5s ease-in-out;
    }
    
    input#display-search:checked+label{
        background-color: #d1ae79;
        border: 3px solid #5e4828;
        margin: -2px -2px 0 0;
        opacity: 0.7;
    }
    
    input#display-search:checked~form.search-bar{
        display: flex;
        right: 20px;
    } 

    #s1:checked ~ #slide1,
     #s2:checked ~ #slide2,
      #s3:checked ~ #slide3,
       #s4:checked ~ #slide4,
        #s5:checked ~ #slide5,
         #s6:checked ~ #slide6,
          #s7:checked ~ #slide7{
        box-shadow: 0 5px 25px #3b3b3b, 0 9px 10px #000000;
        transform: translate3d(0, 0, 250px);
    }

    #s1:checked ~ #slide2,
     #s2:checked ~ #slide3,
      #s3:checked ~ #slide4,
       #s4:checked ~ #slide5,
        #s5:checked ~ #slide6,
         #s6:checked ~ #slide7,
          #s7:checked ~ #slide1{
        box-shadow: 0 10px 15px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
        transform: translate3d(60%, 0, 175px);
    }

    #s1:checked ~ #slide3,
     #s2:checked ~ #slide4,
      #s3:checked ~ #slide5,
       #s4:checked ~ #slide6,
        #s5:checked ~ #slide7,
         #s6:checked ~ #slide1,
          #s7:checked ~ #slide2{
        box-shadow: 0 5px 10px rgba(0,0,0, 0.4);
        transform: translate3d(120%, 0, 75px);
    }

    #s1:checked ~ #slide4,
     #s2:checked ~ #slide5,
      #s3:checked ~ #slide6,
       #s4:checked ~ #slide7,
        #s5:checked ~ #slide1,
         #s6:checked ~ #slide2,
          #s7:checked ~ #slide3{
        box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
        transform: translate3d(180%, 0, 0px);
    }

    #s1:checked ~ #slide5,
     #s2:checked ~ #slide6,
      #s3:checked ~ #slide7,
       #s4:checked ~ #slide1,
        #s5:checked ~ #slide2,
         #s6:checked ~ #slide3,
          #s7:checked ~ #slide4{
        box-shadow: 0 1px 4px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
        transform: translate3d(-180%, 0, 0px);
    }

    #s1:checked ~ #slide6,
     #s2:checked ~ #slide7,
      #s3:checked ~ #slide1,
       #s4:checked ~ #slide2,
        #s5:checked ~ #slide3,
         #s6:checked ~ #slide4,
          #s7:checked ~ #slide5{
        box-shadow: 0 5px 10px rgba(0,0,0, 0.4);
        transform: translate3d(-120%, 0, 75px);
    }

    #s1:checked~#slide7,
     #s2:checked ~ #slide1,
      #s3:checked ~ #slide2,
       #s4:checked ~ #slide3,
        #s5:checked ~ #slide4,
         #s6:checked ~ #slide5,
          #s7:checked ~ #slide6{
        box-shadow: 0 10px 15px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
        transform: translate3d(-60%, 0, 175px);
    }
}

/*devices with screen < 1280px*/
@media screen and (max-width: 960px){
    .mobile-menu{
        display: flex;
    }

    .nav-bar{
        display: none;
    }
}