.main-cat p::after{
    content: '';
    position: relative;
    top: 2px;
    right: -5px;
    height: 0px;
    width: 0px;
    border-top: 6px solid #ffffff;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}

.main-cat p:hover{
    background-color: #c1995c;
    cursor: pointer;
}

.sub-cat-box{
    display: none;
    position: absolute;
    width: 400px;
    max-height: 320px;
    top: 60px;
    flex-direction: column;
    flex-wrap: wrap;
    font-weight: 300;
    background-color: #d6ab6a;
    box-shadow: 1px 1px 0px 1px #eecb95;
    z-index: -1;
}

.sub-cat{
    padding: 15px 10px;
    min-width: 180px;    
    transition: 0.3s ease-out;
    transition-property: background;
}

.sub-cat:hover{
    opacity: 1.5;
    font-weight: 500;
    background-color: #f1c88a;
    z-index: 1;
    outline: 3px solid #876430;
    box-shadow: 0 0 5px 3px #c39a5b;
    cursor: pointer;
}

.main-cat p:hover+.sub-cat-box,
.sub-cat-box:hover{
    display: flex;
}
