/*
RMIT University Vietnam
  Course: COSC2430 Web Programming
  Semester: 2023A
  Assessment: Assignment 1
  Author: Nguyen Ich Kiet
  ID: s3978724
  Acknowledgement: import fonts from google.
*/

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=DynaPuff:wght@400;500;600&family=Literata:wght@200;300;400;500&family=Nova+Oval&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,800;1,300;1,400&family=Orbitron:wght@500;600;700&family=Pacifico&family=Roboto+Slab:wght@200;400;500;600&display=swap');
@import url(/footer-fix.css);

body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #fff2df;
    overflow-y: overlay;
    z-index: -5;
}

img{
    max-width: 100%;
    max-height: 100%;
    color: white !important;
    font: 15px 'Times New Roman', Times, serif !important;
}

::-webkit-scrollbar{
    position: absolute;
    width: 15px;
}

::-webkit-scrollbar-track{
    border-radius: 10px;
    margin-top: 75px;
    margin-bottom: 105px;
    background-color: #cca365;
}

::-webkit-scrollbar-thumb{
    background: #634215; 
    border-radius: 10px;
    outline: 2px solid #352102;
}
 
::-webkit-scrollbar-thumb:hover{
    background: #312008;
}

a:link{
    text-decoration: none !important;
}

/*----------HEADER----------*/
.header{
    position: fixed;
    top: 0;
    margin: 0 0;
    width: 100%;
    height: 70px;
    background-color: #966d30;
    display: flex;
    align-items: center;
    z-index: 99;
    box-shadow: 0px 0px 5px 1px #c49857;
}

/*mobile menu*/
.mobile-menu{
    display: none;
    margin-left: 10px;
    height: 100%;
    padding: 0 10px;
    align-items: center;
    cursor: pointer;
}

.menu-icon{
    height: 50px;
    width: 50px;
    font-size: 40px;
    font-weight: 800;
    background-color: #ffcb7c;
    box-shadow: 0 0 5px 1px #edc993;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-box{
    display: flex;
    position: absolute;
    width: 200px;
    top: 70px;
    left: -250px;
    font-size: 17px;
    font-weight: 500;
    flex-direction: column;
    transition: 0.5s;
}

.menu-item{
    color: rgb(0, 0, 0);
    padding: 20px 20px; 
    box-shadow: 1px 1px 0px 1px #eecb95;
    transition: 0.3s ease-out;
    transition-property: background;
}

.menu-item:nth-child(odd){
    background-color: #d09d50;
}

.menu-item:nth-child(even){
    background-color: #e3b167;
}

.menu-item:hover{
    font-weight: 800;
    background-color: #f1c88a;
    z-index: 1;
    outline: 3px solid #876430;
    box-shadow: 0 0 5px 3px #c39a5b;
    cursor: pointer;
}

.mobile-menu:hover>.menu-icon{
    opacity: 0.5;
}

.mobile-menu:hover+.menu-box,
.menu-box:hover{
    left: 0;
}

/*logo*/
.logo{
    position: relative;
    min-width: 180px;
    height: 45px;
    margin-left: 1%;
    margin-right: 10px;
    padding: 3px;
    text-decoration: none;
    background-color: #ffcb7c;
    box-shadow: 0 0 5px 1px #edc993;
    display: flex;
    align-items: center;
}

.logo .brand{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    font-weight: 800;
    padding-right: 10px;
}

.logo img{
    height: 40px;
    width: 50px;
}

.logo h1{
    margin-bottom: 0px;
    font-size: 25px;
    letter-spacing: 1px;
    background: -webkit-linear-gradient(45deg, #8d5a0e, #4d3615);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo h2{
    margin-top: -10px;
    color: #621577;
    font-size: 20px;
    letter-spacing: 2px;
}

/*navigation bar*/
.nav-bar{
    margin-left: 10px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.nav-item{
    height: 100%;
    width: 60px;
    padding: 0 40px;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    text-shadow: 2px 2px 2px #573d19;
    white-space: nowrap;
    transition: 0.2s;
    outline: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item:hover{
    background-color: #bf985d;
}

.nav-item:active{
    background-color: #e8b66d;
    box-shadow: 0 0 5px 3px #e8b66d;
}

/*search bar*/
form.search-bar{
    position: relative;
    height: 40px;
    flex-grow: 1;
    margin-left: 40px;
    margin-right: 20px;
    border-radius: 7px;
}

.search-bar input{
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    padding-left: 5px;
    border-radius: 7px;
    border: 3px solid #5e4828;
    background: #ebd3ae;
    transition: 0.2s ease-out;
}

.search-bar input::placeholder{
    color: #967441;
    opacity: 0.5;
}

.search-bar input:hover,
.search-bar input:focus{
    outline: none;
    box-shadow: 0px 0px 10px 3px #ffdba4;
}

input#display-search{
    display: none;
}

.search-button{
    display: none;
}

/*----------BODY----------*/

/*side navigaation bar*/
.side-nav-bar{
    position: fixed;
    top: 15%;
    width: 230px;
    left: -240px;
    display: flex;
    flex-direction: column;
    z-index: 5;
    border: 3.5px solid #007470;
    border-left: none;
    transition: 0.5s;
}

.side-nav-bar .title{
    height: 70px;
    font-size: 18px;
    font-weight: 800;
    padding-left: 50px;
    background-color: #00fff7;
    display: flex;
    align-items: center;
}

.side-nav-bar .button{
    position: absolute;
    top: -3px;
    left: 230px;
    height: 70px;
    width: 75px;
    border-radius: 0 50% 50% 0;
    background-color: #00fff7;
    border: 3.5px solid #007470;
    border-left: none;
    display: flex;
    align-items: center;
    z-index: -1;
}

.side-nav-bar .button img{
    position: relative;
    height: 40px;
    width: 40px;
    left: 17px;
}

.side-nav-bar:has(> .side-nav-button:hover){
    left: 0px;
}

.side-nav-bar:hover{
    left: 0;
}

.main-cat{
    color: #000000;
    outline-color: #12ddd6;
    height: 60px;
    padding: 0px 30px;
    display: flex;
    align-items: center;
    z-index: 9;
    cursor: pointer;
}

.main-cat:hover{
    text-decoration: underline;
    font-weight: 600;
}

.main-cat::after{
    position: absolute;
    right: 30px;
    content: '\25ba';
    font-size: 13px;
    transition: 0.5s;
}

.main-cat:hover::after{
    right: 10px;
    transform: rotate(90deg);
}

.side-nav-bar .main-box:nth-of-type(odd) .main-cat{
    background-color: #00fff7;
}

.side-nav-bar .main-box:nth-of-type(odd) .main-cat:hover{
    background-color: #00beb8;
}

.side-nav-bar .main-box:nth-of-type(even) .main-cat{
    background-color: #93fffb;
}

.side-nav-bar .main-box:nth-of-type(even) .main-cat:hover{
    background-color: #74cac7;
}

.main-box:has(> .sub-cat-box:hover){
    text-decoration: underline;
    font-weight: 600;
}

.sub-cat-box{
    display: none;
    flex-direction: column;
    position: absolute;
    margin-top: -60px;
    left: 230px;
    font-weight: 300;
    z-index: -1;
    outline: 3.5px solid #007470;
}

.sub-cat-box a{
    color: #000000;
    padding: 0px 10px;
    height: 60px;
    width: 220px;    
    transition: 0.3s ease-out;
    transition-property: background;
    background-color: #d3fffe;
    display: flex;
    align-items: center;
}

.sub-cat-box a:hover{
    font-weight: 500;
    background-color: #ffffff;
    z-index: 1;
    outline: 3px solid #007470;
    box-shadow: 0 0 10px 2px #003a38;
    cursor: pointer;
}

.main-cat:hover+.sub-cat-box,
.sub-cat-box:hover{
    display: flex;
}

/*main contents*/
section#contact-information{
    position: relative;
    margin-top: 50px;
    padding: 50px;
    width: 80%;
    left: 10%;
}

h3{
    color: #7a3900;
    position: relative;
    left: 50px;
    text-transform: capitalize;
    font-size: 45px;
    text-shadow: 1px 3px 5px #c2c2c2;
}

form#contact{
    position: relative;
    width: 50%;
    padding: 10px 30px 50px 30px;
    background-color: #ffffff;
}

.container span{
    font-size: 18px;
}

.input-box{
    font-size: 18px;
    padding: 20px 0px;
    display: flex;
}

.text-input::placeholder{
    color: #a9a9a9;
}

.text-input:hover::placeholder{
    color: #575757;
}

.text-input:focus::placeholder{
    color: transparent;
}

.contact-purpose select{
    height: 25px;
}

.select-input + label{
    font-style: italic;
    font-size: 16px;
}

textarea.text-input{
    height: 10em;
    width: 80%;
    font-family: 'Open Sans', sans-serif;
}

.extra-notes label{
    white-space: nowrap;;
}

form#contact button{
    display: none;
}

form#contact label{
    padding-right: 10px;
}

label#button{
    position: relative;
    margin-left: 30px;
    padding: 0 !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

form#contact label span{
    position: relative;
    padding: 10px 25px;
    width: 100%;
    height: 100%;
    background:linear-gradient(#ffffff, #d0d0d0);
    border: 1px solid #000000;
    border-radius: 10px;
    z-index: 1;
    transition: 0.3s;
}

.button-bg{
    position: absolute;
    bottom: -3px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #868686;
}

form#contact label span:hover{
    transform: translateY(-3px);
}

form#contact label span:active{
    transform: translateY(2px);
}

/*social media*/
.social-media{
    position: absolute;
    top: 350px;
    left: 60%;
    display: flex;
    flex-direction: column;
}

.social-media a{
    height: 100px;
    display: flex;
    align-items: center;
}

.social-media img{
    min-height: 60px;
    max-height: 60px;
}

.social-media span{
    color: #0044ff;
    margin-left: 20px;
    font-size: 25px;
    letter-spacing: 1px;
}

.social-media a:hover > span{
    text-decoration: underline;
}

/*cart button*/
.cart-button{
    position: fixed;
    bottom: 120px;
    right: 3%;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.cart-button img{
    height: 55px;
    z-index: 1;
}

.cart-button::before{
    content: '';
    position: absolute;
    height: 87px;
    width: 87px;
    border-radius: 50%;
    background: linear-gradient(0deg, #fffb00, #ffb71c, #fffb00);
    animation: rotate 2s linear infinite;
    filter: blur(15px);
}

.cart-button::after{
    content: '';
    position: absolute;
    inset: 3px;
    border-radius: 50%;
    background: #feffda;
}

/*----------FOOTER----------*/
.footer{
    position: absolute;
    margin-top: 150px;
    height: 100px;
    width: 100%;
    background-color: #a98247;
    border-top: 4px solid #69440f;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer a{
    margin-top: -20px;
    color: #ffffff;
    font-size: 16px;
}

.footer img{
    height: 75px;
}

/*devices with screen <= 1280px*/
@media screen and (max-width: 1280px){
    .nav-item{
        width: 30px;
        font-size: 14px;
    }
    
    .search-button{
        display: flex;
        position: absolute;
        height: 25px;
        width: 25px;
        right: 20px;
        top: 12px;
        padding: 7px;
        border-radius: 50%;
        cursor: pointer;
        opacity: 1;
        background-color: transparent;
        transition: 0.1s ease-out;
    }
    
    .search-button img{
        height: 90%;
        margin: -0.5px -0.5px 0 0;
    }
    
    .search-button:hover{
        box-shadow: 0px 0px 10px 3px #ffdba4;
    }
    
    form.search-bar{
        position: absolute;
        width: 20%;
        min-width: 100px;
        margin: auto;
        top: 70px;
        right: -25%;
        display: block;
        transition: 0.5s ease-in-out;
    }
    
    input#display-search:checked+label{
        background-color: #d1ae79;
        border: 3px solid #5e4828;
        margin: -2px -2px 0 0;
        opacity: 0.7;
    }
    
    input#display-search:checked~form.search-bar{
        display: flex;
        right: 20px;
    } 

    form#contact{
        width: 50%;
    }
}

/*devices with screen <= 960px*/
@media screen and (max-width: 960px){
    .mobile-menu{
        display: flex;
    }

    .nav-bar{
        display: none;
    }

    form#contact{
        width: 80%;
    }

    .input-box{
        flex-direction: column;
        align-items: flex-start;
    }

    .container{
        flex-direction: column;
    }

    .input-box:has(>.select-input){
        flex-direction: row;
    }

    .social-media{
        position: relative;
        top: 0;
        left: -10%;
        flex-direction: row;
        justify-content: space-evenly;
    }
}